
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend';
}

.container {
    max-width: 1200px;
    margin: auto;
}

.wrapper {
    display:grid;
    gap:30px;
}

.first {
    grid-row:1/2;
    grid-column:1/3;
    background: rgba(234, 241, 235, 1);
    background: rgba(234, 241, 235, 1);
    position: relative;
}

.first > img {
    height:300px;
    width:294px;
    position:absolute;
    bottom:0;
    right:0
}

.same-paddings {
    padding:30px 0 30px 30px
}

.same-borders {
    border-radius: 12px;
}

.second {
    grid-row:1/3;
    grid-column:3/4;
    padding:24px 20px 0 24px;
    background: rgba(234, 241, 235, 1);
    position:relative
}

.second > img {
    width: 267px;
    height:366px;
    position: absolute;
    bottom:0;
    right:0
}

.third {
    grid-row:2/3;
    grid-column:1/2;
    background: rgba(234, 241, 235, 1);
    position: relative;
}

.same-img {
    width: 138px;
    height:138px;
    position:absolute;
    bottom:0;
    right:0;
    border-bottom-right-radius:12px
}

.fourth {
    grid-row:2/3;
    grid-column:2/3;
    background: rgba(234, 241, 235, 1);
    position: relative;
}

.first-top {
    display: flex;
    align-items: center;
    gap:11px
}

.first-top > img {
    height:18px;
    width:18px;
}

span {
    font-weight: 400;
    font-size: 14px;
    color:rgba(112, 115, 124, 1)
}

h1 {
    font-family: Lexend;
    font-weight: 600;
    font-style: 'SemiBold';
    font-size: 24px;
    line-height: 31.5px;
    letter-spacing: -2%;
    color: rgba(31, 37, 51, 1);
    margin: 8px 0 4px;
}

p {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 178%;
    color:rgba(112, 115, 124, 1);
}

button {
    width: 106px;
    height: 51px;
    border-radius: 8px;
    border:none;
    background: rgb(255, 255, 255);
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    letter-spacing: -3.5%;
    padding: 11px 33px;
    color:rgba(53, 151, 64, 1);
    margin-top: 14px;
}